<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PL_Note.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>762BF84B1F42D7A3001FB470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>762BF8641F42D7A3001FB470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>762BF86F1F42D7A3001FB470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
